@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root 
{
    --yellow1: #FFF464;
    --yellow2: #FFEE32;
    --yellow3: #FFE019;
    --yellow4: #FFD100;
    --yellow5: #E4BB04;
    --lemonyellow1: #FFFF00;
    --lemonyellow2: #FFEC01;
    --grey1: #E7E7E7;
    --grey2: #D6D6D6;
    --grey3: #B9B9B9;
    --grey4: #919191;
    --lightgrey: #e9ecef;
    --black1: #333533;
    --black2: #202020;
    --maroon1: #a82020;
    --maroon2: #320000;
    --orange: #ee7500;
    --blue1: #59c3c3;
    --blue2: #307c9c;
    --blue3: #005588;
    --blue4: #001d3d;
    --green1: #75b82b;
    --green2: #4cb752;
    --purple1: #c77dff;
    --purple2: #9d4edd;
    --purple3: #7b2cbf;
    --purple4: #5a189a;
    --purple: #30013d;
}

* 
{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container 
{
    max-width: 95%;
    margin: 0 auto;
}

/* ===============Styling top Navbar=================== */

#headerSection1 
{
    background-color: var(--lightgrey);
}

#topHeader 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    align-items: center;
    justify-content: space-between;
}

#headerSection1 li a 
{
    text-decoration: none;
    color: var(--grey4);
}

#headerSection1  li
{
    list-style: none;
}


.topnav ul
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.topnav ul li a
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.topNavText 
{
    margin-right: 0.3rem;
}

.hovertext 
{
    transition: color 0.3s ease-in;
}
.hovertext:hover 
{
    color: var(--yellow5);
    font-weight: bold;
}
.topnav ul li a
{
    margin-right: 1rem;
}

.countryFlag 
{
    width: 1rem;
    margin-right: 0.3rem;
}

#welcomeNote 
{
    margin-right: 2rem;
}

/* ===========styling dropdown menu============== */
.dd_menu ul 
{
    display: flex;
    flex-direction: column;
    list-style-position: outside;

}
.dd_menu ul li:nth-child(2)
{
    margin-left: -5.2rem;
}

.dd_menu ul li 
{
    padding: 0.8rem 0.8rem 0rem 0.8rem;
    font-size: 0.8rem;
    color: var(--black1);
}

.dd_menu ul li:last-child 
{
    padding-bottom: 0.5rem;
}

.topnav ul li.a_parent:hover .dd_menu 
{
    display: block;
}

.topnav .dd_menu{
	position: absolute;
	top: 2.6rem;
	left: 1rem;
    z-index: 1;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

.dd_menu_text:hover  
{
    color: var(--yellow4);
}

.topnav .dd_menu:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent var(--yellow2) transparent;
}

.dd_menu_2 ul 
{
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: left;
}

.topnav ul li.a_parent_2:hover .dd_menu_2 
{
    display: block;
}

.topnav .dd_menu_2{
	position: absolute;
	top: 2.5rem;
	left: 6rem;
    z-index: 1;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

.topnav .dd_menu_2:before {
    content: "";
    position: absolute;
    top: -30px;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent var(--yellow2) transparent;
}

.dd_menu_text_2:hover  
{
    color: var(--yellow4);
}

.dd_menu_2 ul
{
    list-style: none;
    padding : 0;
    margin : 0;
}

.dd_menu_2 ul li a 
{
    line-height: 30px;
}

.dd_menu_2 ul li 
{
    font-size: 0.8rem;
    color: var(--black1);
    list-style-position: inside;
    text-align: left;
    display : inline;
    position : relative;
    cursor : pointer;
  list-style: none;
  margin: 0;
  vertical-align: middle;
}

.dd_img 
{
    width: 2rem;
    display: flex;
    justify-content: left;
}

.dd_text 
{
    width: 2rem;
    display: flex;
    justify-content: left;
    color: var(--black1);
}

.dd_text:hover 
{
    color: var(--yellow4);
}
.dd_menu_a_2 img 
{
    width: 1rem;
    vertical-align: middle;
    
}

/* =============MEDIA QUERY FOR TOP NAV============== */

@media (max-width: 1024px)
{
    #topHeader 
    {
        display: none;
    }
}

/* =====================
                Middle Header 
                            ===================== */
#midHeader 
{
    padding: 0.8rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#midNav-2 
{
    display: flex;
    flex-direction: row;
}

#searchBar 
{
    border: 1px var(--grey2) solid;
    padding: 0.2rem 1rem;
}
#searchBar i 
{
    color: var(--grey4);
}

#searchBar input 
{
    width: 450px;
    outline: none;
    border: none;
}

#searchBar input::placeholder
{
    color: var(--grey4);
}

#midNavIcons 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.midNavIcon 
{
    border: 1px solid var(--grey3);
    margin-left: 1rem;
}

#midNavIcons .midNavIcon i
{
    padding: 0.5rem;
}
#midNavIcons .midNavIcon
{
    border-radius: 50%;
}

#contactNumber 
{
    margin-left: 1rem;
    font-size: 1rem;
    color: black;
}

/* =============MEDIA QUERY FOR TOP NAV============== */

@media (max-width: 1024px)
{
    #midHeader 
    {
        display: none;
    }
}

/* =====================
                Desktop NavBar  
                            ===================== */
#desktopNav 
{
    background-color: var(--yellow4);
    color: white;
}

#navbar 
{
    display: flex;
    justify-content: space-between;
}
.categoryMenu 
{
    background-color: var(--purple3); 
}
.allCategories 
{
    display: flex;
    width: 250px;
    padding: 0.7rem 0.5rem;
    align-items: center;
    text-align: center;
    color: white;
    margin-right: 0.8rem;
    font-weight: bold;
    justify-content: space-evenly;
}

#allCategoriesText 
{
    margin-right: 0.8rem;
}

#leftNav 
{
    display: flex;
}

#navList ul 
{
    display: flex;
    padding: 0.8rem;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

#navList ul li 
{
    margin-right: 1rem;
}

#hotTag 
{
    position: absolute;
    background-color: var(--maroon1);
    font-size: 0.7rem;
    width: 40px;
    text-align: center;
    border-radius: 20%;
    left: 90%;
    top: 7rem;
}

#hotTag::before 
{
    content: "";
    position: absolute;
    top: 15px;
    left: 28%;
    transform: translateX(-50%);
    z-index: 1;
    border: 6px solid;
    border-color: var(--maroon1) transparent transparent transparent;
}


#salesProductsText 
{
    padding: 0.8rem;
    font-weight: 700;
    font-size: 1rem;
}

/* -----------Styling category dropdown menu----------------- */
.categoryDropdown 
{
    position: absolute;
	top: 10.3rem;
	left: 2.1rem;
    width:  263px;
    z-index: 6;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    /* display: none; */
}

.allCategories:hover 
{
    cursor: pointer;
}

.categoryMenu:hover .categoryDropdown 
{
    display: block;
}

.categoryDropdown ul li a 
{
    display: flex;
    text-decoration: none;
    padding: 0.6rem 1rem;
    align-items: center;
    color: var(--black1);
    justify-content: space-around;
    font-weight: bold;
}

.categoryDropdown ul li:not(:last-child)
{
    border-bottom: 1px solid var(--grey2);
}

.categoryDropdown ul li a:hover
{
    color: var(--orange);
}

.categoryDropdown ul li 
{
    list-style: none;
}

.categoryName 
{
    width: 80%;
}

/* -----------Styling laptop and computers submenu----------- */

#LaptopSubmenu 
{
    position: absolute;
	top: 0;
	left: 100%;
    display: flex;
    z-index: 6;
    opacity: 1;
    background-color: inherit;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#laptopCategoryParent:hover #LaptopSubmenu
{
    display: flex;
}

#laptopSubmenuLeft 
{
    padding: 2rem 1rem;
    width: 15rem;
    color: var(--grey4);
    font-size: 0.8rem;
}

#laptopSubmenuRight img 
{
    width: 16rem;
    height: 100%;
    object-fit: center;
}

#laptopSubmenuLeft ul li a
{
    transition: color 0.3s ease-in ;
}

#laptopSubmenuLeft ul li a:hover 
{
    color: var(--yellow4);
}

#laptopSubmenuLeft ul li a
{
    display: block;
    padding: 0rem;
    border: none;
}

#laptopSubmenuLeft ul li
{
    border: none;
}

#laptopSubmenuLeft ul li:not(:last-child)
{
    padding-bottom: 0.8rem;
}

/* ---------------Styling Camera Submenu-------------- */

#cameraSubmenu 
{
    position: absolute;
	top: 7%;
	left: 100%;
    display: flex;
    padding: 0rem;
    z-index: 6;
    opacity: 1;
    background-color: inherit;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#cameraCategoryParent:hover #cameraSubmenu
{
    display: flex;
}

#cameraSubmenuLeft ul li 
{
    border: none;
    float: left;
    display: flex;
}

#cameraSubmenuLeft ul li a
{
    transition: color 0.3s ease-in ;
}

#cameraSubmenuLeft ul li a:hover 
{
    color: var(--yellow4);
}

#cameraSubmenuLeft ul 
{
    display: inline-flex;
    flex-direction: column;
    line-height: 0.5rem;
    float: left;
} 

#cameraSubmenuLeft div 
{
    margin-bottom: 1rem;
}


#cameraSubmenuLeft 
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding:  1rem;
    padding-bottom: 0rem;
    width: 30rem;
    color: var(--grey4);
    font-size: 0.8rem;
}

#cameraSubmenuLeft h3 
{
    margin-bottom: 0.8rem;
    margin-right: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    color: var(--purple3);
    border-bottom: 1px solid var(--grey1);
}

#cameraSubmenuRight img 
{
    width: 18rem;
    height: 100%;
}

/* ---------------Styling Electronic Submenu-------------- */

#electronicSubmenu 
{
    position: absolute;
	top: 14%;
	left: 100%;
    display: flex;
    padding: 0rem;
    z-index: 6;
    opacity: 1;
    background-color: inherit;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#electronicCategoryParent:hover #electronicSubmenu
{
    display: flex;
}

#electronicSubmenu div h3 
{
    color: var(--purple3);
    border-bottom: 1px solid var(--grey1);
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem 0rem 0.3rem 0rem;
}

#electronicSubmenu div 
{
    margin-right: 1rem;
    width: 15rem;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

#electronicSubmenu div ul li
{
    border: none;
    float: left;
    display: flex;
}

#electronicSubmenu div ul
{
    display: inline-flex;
    flex-direction: column;
    line-height: 1rem;
    float: left;
}


#electronicSubmenu ul li a
{
    transition: color 0.3s ease-in ;
}

#electronicSubmenu ul li a:hover 
{
    color: var(--yellow4);
}

.electronicSubmenuElement div img 
{
    width: 12rem;
}

.electronicSubmenuElement div ul 
{
    height: 175.94px;
}