@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root 
{
    --yellow1: #FFF464;
    --yellow2: #FFEE32;
    --yellow3: #FFE019;
    --yellow4: #FFD100;
    --yellow5: #E4BB04;
    --lemonyellow1: #FFFF00;
    --lemonyellow2: #FFEC01;
    --grey1: #E7E7E7;
    --grey2: #D6D6D6;
    --grey3: #B9B9B9;
    --grey4: #919191;
    --lightgrey: #e9ecef;
    --black1: #333533;
    --black2: #202020;
    --maroon1: #a82020;
    --maroon2: #320000;
    --orange: #ee7500;
    --blue1: #59c3c3;
    --blue2: #307c9c;
    --blue3: #005588;
    --blue4: #001d3d;
    --green1: #75b82b;
    --green2: #4cb752;
    --purple1: #c77dff;
    --purple2: #9d4edd;
    --purple3: #7b2cbf;
    --purple4: #5a189a;
    --purple: #30013d;
    --bg1: #eeeeee;
}


* 
{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body 
{
    height: 1000rem;
}

.container 
{
    max-width: 95%;
    margin: 0 auto;
}

/* ===============Styling top Navbar=================== */

#headerSection1 
{
    background-color: var(--lightgrey);
}

#topHeader 
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 42px;
    align-items: center;
    justify-content: space-between;
}

#headerSection1 li a 
{
    text-decoration: none;
    color: var(--grey4);
}

#headerSection1  li
{
    list-style: none;
}


.topnav ul
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.topnav ul li a
{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.topNavText 
{
    margin-right: 0.3rem;
}

.hovertext 
{
    transition: color 0.3s ease-in;
}
.hovertext:hover 
{
    color: var(--yellow5);
    font-weight: bold;
}
.topnav ul li a
{
    margin-right: 1rem;
}

.countryFlag 
{
    width: 1rem;
    margin-right: 0.3rem;
}

#welcomeNote 
{
    margin-right: 2rem;
}

/* ===========styling dropdown menu============== */
.dd_menu ul 
{
    display: flex;
    flex-direction: column;
    list-style-position: outside;

}
.dd_menu ul li:nth-child(2)
{
    margin-left: -5.2rem;
}

.dd_menu ul li 
{
    padding: 0.8rem 0.8rem 0rem 0.8rem;
    font-size: 0.8rem;
    color: var(--black1);
}

.dd_menu ul li:last-child 
{
    padding-bottom: 0.5rem;
}

.topnav ul li.a_parent:hover .dd_menu 
{
    display: block;
}

.topnav .dd_menu{
	position: absolute;
	top: 2.6rem;
	left: 1rem;
    z-index: 1;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

.dd_menu_text:hover  
{
    color: var(--yellow4);
}

.topnav .dd_menu:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 20%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent var(--yellow2) transparent;
}

.dd_menu_2 ul 
{
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: left;
}

.topnav ul li.a_parent_2:hover .dd_menu_2 
{
    display: block;
}

.topnav .dd_menu_2{
	position: absolute;
	top: 2.5rem;
	left: 6rem;
    z-index: 1;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

.topnav .dd_menu_2:before {
    content: "";
    position: absolute;
    top: -30px;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 15px solid;
    border-color: transparent transparent var(--yellow2) transparent;
}

.dd_menu_text_2:hover  
{
    color: var(--yellow4);
}

.dd_menu_2 ul
{
    list-style: none;
    padding : 0;
    margin : 0;
}

.dd_menu_2 ul li a 
{
    line-height: 30px;
}

.dd_menu_2 ul li 
{
    font-size: 0.8rem;
    color: var(--black1);
    list-style-position: inside;
    text-align: left;
    display : inline;
    position : relative;
    cursor : pointer;
  list-style: none;
  margin: 0;
  vertical-align: middle;
}

.dd_img 
{
    width: 2rem;
    display: flex;
    justify-content: left;
}

.dd_text 
{
    width: 2rem;
    display: flex;
    justify-content: left;
    color: var(--black1);
}

.dd_text:hover 
{
    color: var(--yellow4);
}
.dd_menu_a_2 img 
{
    width: 1rem;
    vertical-align: middle;
    
}

/* =============MEDIA QUERY FOR TOP NAV============== */

@media (max-width: 1024px)
{
    #topHeader 
    {
        display: none;
    }
}

/* =====================
                Middle Header 
                            ===================== */
#midHeader 
{
    padding: 0.8rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#midNav-2 
{
    display: flex;
    flex-direction: row;
}

#searchBar 
{
    border: 1px var(--grey2) solid;
    padding: 0.2rem 1rem;
}
#searchBar i 
{
    color: var(--grey4);
}

#searchBar input 
{
    width: 450px;
    outline: none;
    border: none;
}

#searchBar input::placeholder
{
    color: var(--grey4);
}

#midNavIcons 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.midNavIcon 
{
    border: 1px solid var(--grey3);
    margin-left: 1rem;
    transition: all 0.3s ease-in;
}


.midNavIcon:hover 
{
    color: var(--yellow4);
    border-color: var(--yellow4);
    cursor: pointer;
}


#midNavIcons .midNavIcon i
{
    padding: 0.5rem;
}
#midNavIcons .midNavIcon
{
    border-radius: 50%;
}

#contactNumber 
{
    margin-left: 1rem;
    font-size: 1rem;
    color: black;
}

/* =============MEDIA QUERY FOR TOP NAV============== */

@media (max-width: 1024px)
{
    #midHeader 
    {
        display: none;
    }
}

/* =====================
                Desktop NavBar  
                            ===================== */
#desktopNav 
{
    background-color: var(--yellow4);
    color: white;
}

#navbar 
{
    display: flex;
    justify-content: space-between;
}
.categoryMenu 
{
    background-color: var(--purple3); 
}
.allCategories 
{
    display: flex;
    width: 250px;
    padding: 0.7rem 0.5rem;
    align-items: center;
    text-align: center;
    color: white;
    margin-right: 0.8rem;
    font-weight: bold;
    justify-content: space-evenly;
}

#allCategoriesText 
{
    margin-right: 0.8rem;
}

#leftNav 
{
    display: flex;
}

#navList ul 
{
    display: flex;
    padding: 0.8rem;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

#navList ul li 
{
    margin-right: 1rem;
}

#hotTag 
{
    position: absolute;
    background-color: var(--maroon1);
    font-size: 0.7rem;
    width: 40px;
    text-align: center;
    border-radius: 20%;
    left: 90%;
    top: 7rem;
}

#hotTag::before 
{
    content: "";
    position: absolute;
    top: 15px;
    left: 28%;
    transform: translateX(-50%);
    z-index: 1;
    border: 6px solid;
    border-color: var(--maroon1) transparent transparent transparent;
}


#salesProductsText 
{
    padding: 0.8rem;
    font-weight: 700;
    font-size: 1rem;
}

/* -----------Styling category dropdown menu----------------- */
.categoryDropdown 
{
    position: absolute;
	top: 10.3rem;
	left: 2.1rem;
    width:  263px;
    z-index: 6;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

.allCategories:hover 
{
    cursor: pointer;
}

.categoryMenu:hover .categoryDropdown 
{
    display: block;
}

.categoryDropdown ul li a 
{
    display: flex;
    text-decoration: none;
    padding: 0.6rem 1rem;
    align-items: center;
    color: var(--black1);
    justify-content: space-around;
    font-weight: bold;
}

.categoryDropdown ul li:not(:last-child)
{
    border-bottom: 1px solid var(--grey2);
}

.categoryDropdown ul li a
{
    transition: color 0.3s ease-in-out;
}

.categoryDropdown ul li a:hover
{
    color: var(--orange);
}

.categoryDropdown ul li 
{
    list-style: none;
}

.categoryName 
{
    width: 80%;
}

/* -----------Styling laptop and computers submenu----------- */

#LaptopSubmenu 
{
    position: absolute;
	top: 0;
	left: 100%;
    display: flex;
    z-index: 6;
    opacity: 1;
    background-color: inherit;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#laptopCategoryParent:hover #LaptopSubmenu
{
    display: flex;
}

#laptopSubmenuLeft 
{
    padding: 2rem 1rem;
    width: 15rem;
    color: var(--grey4);
    background-color: white;
    font-size: 0.8rem;
}

#laptopSubmenuRight img 
{
    width: 16rem;
    height: 100%;
    object-fit: center;
}

#laptopSubmenuLeft ul li a
{
    transition: color 0.3s ease-in ;
}

#laptopSubmenuLeft ul li a:hover 
{
    color: var(--yellow4);
}

#laptopSubmenuLeft ul li a
{
    display: block;
    padding: 0rem;
    border: none;
}

#laptopSubmenuLeft ul li
{
    border: none;
}

#laptopSubmenuLeft ul li:not(:last-child)
{
    padding-bottom: 0.8rem;
}

/* ---------------Styling Camera Submenu-------------- */

#cameraSubmenu 
{
    position: absolute;
	top: 7%;
	left: 100%;
    display: flex;
    padding: 0rem;
    z-index: 6;
    opacity: 1;
    background-color: inherit;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#cameraCategoryParent:hover #cameraSubmenu
{
    display: flex;
}

#cameraSubmenuLeft 
{
    background-color: white;
}
#cameraSubmenuLeft ul li 
{
    border: none;
    float: left;
    display: flex;
}

#cameraSubmenuLeft ul li a
{
    transition: color 0.3s ease-in ;
}

#cameraSubmenuLeft ul li a:hover 
{
    color: var(--yellow4);
}

#cameraSubmenuLeft ul 
{
    display: inline-flex;
    flex-direction: column;
    line-height: 0.5rem;
    float: left;
} 

#cameraSubmenuLeft div 
{
    margin-bottom: 1rem;
}


#cameraSubmenuLeft 
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding:  1rem;
    padding-bottom: 0rem;
    width: 30rem;
    color: var(--grey4);
    font-size: 0.8rem;
}

#cameraSubmenuLeft h3 
{
    margin-bottom: 0.8rem;
    margin-right: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
    color: var(--purple3);
    border-bottom: 1px solid var(--grey1);
}

#cameraSubmenuRight img 
{
    width: 18rem;
    height: 100%;
}

/* ---------------Styling Electronic Submenu-------------- */

#electronicSubmenu 
{
    position: absolute;
	top: 14%;
	left: 100%;
    display: flex;
    padding: 0rem;
    z-index: 6;
    opacity: 1;
    background-color: inherit;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#electronicCategoryParent:hover #electronicSubmenu
{
    display: flex;
}

#electronicSubmenu div h3 
{
    color: var(--purple3);
    border-bottom: 1px solid var(--grey1);
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem 0rem 0.3rem 0rem;
}

#electronicSubmenu 
{
    background-color: white;
} 

#electronicSubmenu div 
{
    margin-right: 1rem;
    width: 15rem;
    font-size: 0.8rem;
    padding-left: 0.5rem;
}

#electronicSubmenu div ul li
{
    border: none;
    float: left;
    display: flex;
}

#electronicSubmenu div ul
{
    display: inline-flex;
    flex-direction: column;
    line-height: 1rem;
    float: left;
}


#electronicSubmenu ul li a
{
    transition: color 0.3s ease-in ;
}

#electronicSubmenu ul li a:hover 
{
    color: var(--yellow4);
}

.electronicSubmenuElement div img 
{
    width: 12rem;
}

.electronicSubmenuElement div ul 
{
    height: 175.94px;
}

/* -----------Styling Tablets submenu----------- */

#tabletSubmenu 
{
    position: absolute;
	top: 22.8%;
	left: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    z-index: 6;
    opacity: 1;
    background-color: white;
    box-shadow: 2px 5px 8px rgb(51 51 51 / 5%), -2px 5px 8px rgb(51 51 51 / 5%);
    display: none;
}

#tabletCategoryParent:hover #tabletSubmenu
{
    display: flex;
}

#tabletSubmenuTop 
{
    display: flex;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--grey1);
}



#tabletSubmenuTop div
{
    width: 15rem;
    height: 18rem;
}


.tabletSubmenuList h3 
{
    color: var(--purple3);
    border-bottom: 1px solid var(--grey1);
    margin: 0rem 1rem;
    padding: 1rem 0rem 0.3rem 0rem;
}

.tabletSubmenuList ul 
{
    padding: 0rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    float: left;
}

#tabletSubmenu ul li a
{
    font-size: 0.8rem;
    transition: color 0.3s ease-in ;
}

#tabletSubmenu ul li a:hover 
{
    color: var(--yellow3);
}

#tabletSubmenuList1 ul li 
{
    border: none;
    display: flex;
    float: left;
}

#tabletSubmenuList2 ul li 
{
    border: none;
    display: flex;
    float: left;
}

#tabletSubmenuImage img 
{
    width: 18rem;
    height: 100%;
    object-fit: scale-down;
}


#tabletSubmenuBottom
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    padding-bottom: 1rem;
}
#tabletSubmenuBottom div figure img 
{
    width: 3rem;
}

#tabletSubmenuBottom div figure 
{
    position: relative;
}

#tabletSubmenuBottom div figure::before {
	position: absolute;
	top: 10%;
	left: -105%;
	z-index: 2;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

#tabletSubmenuBottom div figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 10%;
	}
}
@keyframes shine {
	100% {
		left: 100%;
	}
}


/* =============MEDIA QUERY FOR Desktop NAV============== */

@media (max-width: 1024px)
{
    #desktopNav 
    {
        display: none;
    }
}

/* ------------------------
                Mobile Navbar
                        ------------------------- */
#mobileNav 
{
    background-color: var(--yellow4);
    color: white;
}

#mobileNavbar 
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 0.4rem 0rem;
}


#mobileNavbarLeft
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

#mobileNavbarLeft img 
{
    width: 2rem;
    margin-right: 1rem;
}


#searchNavbar 
{
    display: flex;
    align-items: center;
    border: 1px solid white;
    width: 90%;
}

#searchNavbar input 
{
    border: none;
    outline: none;
    background: transparent;
    padding: 0.25rem 0rem;
}

#searchNavbar i
{
    font-size: 0.8rem;
    padding: 0rem 0.5rem;
}

#searchNavbar input::placeholder
{
    color:white;
    font-weight: bold;
}


#mobileNavbarRight 
{
    display: grid;
    justify-content: right;
}

#mobileNavbarRight i 
{
    padding: 0rem 0.2rem;
    font-size: 0.9rem;
}

#mobileNavbarRight i:last-child
{
    padding: none;
}

#mobileNavbarRight i:not(:last-child)
{
    border-right: 1px solid white;
}

/* --------------- Media Query for mobile navbar ---------------- */

@media (min-width: 321px)
{
    #searchNavbar 
        {
            width: 100%;
        }

        #mobileNavbarLeft
{
    grid-template-columns: 1fr 8fr;
}

#mobileNavbarRight i 
{
    padding: 0rem 0.5rem;
    font-size: 1rem;
}


}

@media (min-width: 768px)
{
    #mobileNavbar 
    {
        grid-template-columns: 5fr 1fr;
    }

    #mobileNavbarLeft
    {
        grid-template-columns: 1fr 4fr;
    }
}

@media (min-width: 1025px)
{
    #mobileNav 
    {
        display: none;
    }
}

/* -------------------
            Styling Sidebar 
                    ---------------------- */

#sidebar 
{
    position: fixed;
    width: 0rem;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    background-color: white;
    left: -18rem;
    transition: all 0.3s ease-in;
    z-index: 8;
}

#sidebar.open {
    left: 18rem;
    width: 18rem;
  }


  @media (max-width: 1024px)
{
    body.active::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--black1) none no-repeat 0 0;
        opacity: 0.7;
        z-index: 0;
        transition: 0.8s;
      }
}

#sidebarHeading 
{
    background-color: var(--yellow4);
    padding: 0.7rem 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

#sidebarHeading i 
{
    margin-left: 3rem;
    color: var(--maroon1);
}

#sidebar ul li 
{
    list-style: none;
    padding: 1rem;
    align-items: center;
}

#sidebar ul li:not(:last-child)
{
    border-bottom: 1px solid var(--grey1);
}

#sidebar ul li i
{
    float: right;
}

#sidebar ul li a
{
    text-decoration: none;
    color: var(--black2);
    font-weight: bold;
    width: 80%;
    transition: color 0.3s ease-in;
}

.subcategoryMenu
{
    display: none;
    font-size: 0.8rem;
    padding: none;
    margin: none;
    transition: all 0.3 ease-in-out;
}

.subcategoryMenu ul li
{
    padding: none;
    margin: none;
    text-align: left;
    font-weight: bold;
    color: var(--black1);
}
.subcategoryMenu ul li a
{
    transition: color 0.3s ease-in;
}

.subcategoryMenu 
{
    transition: all 0.3 ease-in-out;
}

.subcategoryMenu ul li a:hover 
{
    color: var(--purple3);
}



.openSubmenu
{
    transition: transform 0.3 ease-in-out;
}

#sidebar ul li div.showSubmenu 
{
    display: block;
}

#sidebar ul li i.rotate 
{
    transform: rotate(180deg);
} 


/* ---------------- Sidebar media Query -------------------- */

@media (min-width: 1025px)
{
    #sidebar 
    {
        display: none;
    }

}


/* ------------------------- 
                Styling Hero Section 
                                --------------------------- */

.hero 
{
    background-color: var(--bg1);
    padding: none;
    margin: none;
}
.hero__center 
{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.glide__slides li 
{
    list-style: none;
}

.hero__left
{
    margin: 1rem 0rem 0rem 1rem;
    transform: translateY(20%);
    width: 50%;
}

.hero__right 
{
    width: 50%;
    background: var(--blue1);
}

.hero__left span 
{
    color: var(--black2);
    font-weight: 500;
    font-size: 1rem;
}

.hero__left p 
{
    display: none;
}

.hero__left h1 
{
    font-size: 1rem;
    font-weight: bold;
    color: var(--black1);
    margin-bottom: 2rem;
}

.hero__left a button 
{
    background: transparent;
    outline: none;
    border: 2px solid var(--yellow3);
    border-radius: 20rem;
    padding: 0.8rem;
    font-weight: bold;
    transition: all 0.3s ease-in;
    margin-bottom: 1rem;
}

.hero__left a button:hover 
{
    border-color: transparent;
    background: var(--yellow3);
    color: white;
}

.hero__img-container
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__img-container img 
{
    width: 10rem;
}

.glide__bullets 
{
    display: flex;
    position: absolute;
    top: 40%;
    left: 95%;
    flex-direction: column;
    float: right;
}

.bullet 
{
    display: flex;
    align-items: center;
    background: transparent;
    margin: 0.4rem;
    padding: 0.2rem 0rem;
}

.bullet:first-child
{
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid transparent;
    border-radius: 20rem;
    transition: all ease-in;
    animation-name: bulletBorder;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}

.glide__bullet 
{
    background: var(--yellow4);
}

@keyframes bulletBorder 
{
    0% 
    {
        transform: rotate(60deg);
    }

    20%
    {
        transform: rotate(120deg);
    }

    40% 
    {
        transform: rotate(180deg);
    }

    60%
    {
        transform: rotate(240deg);
    }

    80%
    {
        transform: rotate(300deg);
    }

    100%
    {
        transform: rotate(360deg);
    }
}

/* -------------------- Hero Section media Query------------------- */

@media (min-width: 426px)
{
    .hero__left span 
    {
        font-size: 1.5rem;
    }

    .hero__left p 
    {
        display: block;
        text-transform: uppercase;
        color: var(--grey4);
        font-weight: bold;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
    }

    .hero__left h1 
    {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }

    .hero__img-container img 
    {
        width: 12rem;
    }
}

@media (min-width: 769px)
{
    .hero__img-container img 
    {
        width: 16rem;
    }
}

@media (min-width: 1025px)
{
    .hero__left span 
    {
        font-size: 2.5rem;
    }

    .hero__left h1 
    {
        font-size: 3.5rem;
    }

    .hero__left p 
    {
        font-size: 2rem;
    }

    .hero__img-container img 
    {
        width: 18rem;
    }
}

/* -------------------------------
            Services Section 
                ---------------------------- */
#servicesSection 
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    border: 1px solid var(--grey1);
    margin: 2rem 0.5rem 3rem 0.5rem;
    font-size: 0.6rem;
    align-items: center;

}

.servicesSection 
{
    display: flex;
    padding: 1rem 0rem;
    align-items: center;
    padding-left: 1rem;
    justify-content: center;
}

.servicesSectionIcon 
{
    font-size: 1.8rem;
    color: var(--yellow5);
    margin-right: 0.5rem;
}

#servicesSection-1 
{
    border-right: 1px solid var(--grey1);
    border-bottom: 1px solid var(--grey1);
}

#servicesSection-4
{
    border-left: 1px solid var(--grey1);
    border-top: 1px solid var(--grey1);
}

.servicesSectionText h1
{
    color: var(--purple4);
    font-weight: bold;
}

.servicesSectionText p
{
    font-size: 0.7rem;
    color: var(--grey4);
    font-weight: bold;
}

/* -----------------------
        Services Section Media 
        --------------------------------- */

@media (min-width: 995px)
{
    #servicesSection 
    {
        grid-template-columns: repeat(4, auto);
    }

    #servicesSection-1, #servicesSection-4 
    {
        border: none;
    }

    #servicesSection-1, #servicesSection-3, #servicesSection-2 
    {
        border-right: 1px solid var(--grey1);
    }

    .servicesSectionIcon 
    {
        margin-right: 1rem;
        font-size: 2.5rem;
    }

    .servicesSectionText h1 
    {
        font-size: 1.4rem;
    }
 
    .servicesSectionText p 
    {
        font-size: 0.9rem;
    }

}

/* -----------------------
        Discount Section
        --------------------------------- */
#discountSect
{
    display: grid;
    margin: 0rem 0.5rem;
    grid-template-columns: repeat(1, auto);
}

.discountWrapper 
{
    height: 10rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 3rem;
    background-image: linear-gradient(90deg, rgba(238,117,0,1) 0%, rgba(255,224,25,1) 40%, rgba(255,238,50,0.5550595238095238) 100%, rgba(255,244,100,1) 100%);
    opacity: 0.9;
}

.discountImage 
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    float: right;
    top: -5rem;
    left: -1rem;
    transition: all 0.5s ease-in-out;
}

#discountSection-1 .discountImage 
{
    left: 5rem;
}

.discountSection
{
    position: relative;
    margin-bottom: 2rem;
    color: var(--purple4);
    font-weight: bold;
    height: 100%;
    width: 100%;
}

.discountText 
{
    display: flex;
    z-index: 1;
    flex-direction: column;
}
.discountText h4 
{
    font-size: 1rem;
    padding: 2rem 1rem 0rem 1rem;
}

.discountText a 
{
    text-decoration: none;
    position: relative;
    display: inline;
    color: var(--purple);
    padding: 1rem 1rem 0rem 1rem;
    text-align: left;
    font-size: 0.9rem;
}

.discountText h1 
{
    font-size: 1.6rem;
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 0rem;
    color: white;
}

.discountWrapper:hover .discountImage 
{
    transform: scale(1.3);
}

/* ----------------------- Discount Media Query ---------------------- */

@media (min-width: 400px)
{
    .discountImage 
    {
        left: 2rem;
    }
}

@media (min-width: 500px)
{
    .discountImage 
    {
        left: 8rem;
    }
}

@media (min-width: 400px)
{
    .discountImage 
    {
        left: 1rem;
    }
}

@media (min-width: 569px)
{
    .discountImage 
    {
        left: 8rem;
    }

    #discountSection-1 .discountImage 
    {
        left: 8rem;
    }
}

@media (min-width: 769px)
{
    #discountSect
    {
        grid-template-columns: repeat(2,auto);
    }

    .discountImage 
    {
        left: 4rem;
    }

}

@media (min-width: 1000px)
{
    .discountImage 
    {
        left: 8rem;
    }
    #discountSection-1 .discountImage 
    {
        left: 15rem;
    }
}

@media (min-width: 1200px)
{
    .discountWrapper 
    {
        height: 13rem;
    }
    .discountImage 
    {
        left: 15rem;
    }

    .discountText h4 
    {
        font-size: 1.2rem;
    }

    .discountText h1
    {
        font-size: 3rem;
    }


}


