:root 
{
    --yellow1: #FFF464;
    --yellow2: #FFEE32;
    --yellow3: #FFE019;
    --yellow4: #FFD100;
    --yellow5: #E4BB04;
    --lemonyellow1: #FFFF00;
    --lemonyellow2: #FFEC01;
    --grey1: #E7E7E7;
    --grey2: #D6D6D6;
    --grey3: #B9B9B9;
    --grey4: #919191;
    --black1: #333533;
    --black2: #202020;
    --maroon1: #a82020;
    --maroon2: #320000;
    --orange: #ee7500;
    --blue1: #59c3c3;
    --blue2: #307c9c;
    --blue3: #005588;
    --blue4: #001d3d;
    --green1: #75b82b;
    --green2: #4cb752;
    --purple: #30013d;


}